
/* Rest Page */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   scroll-behavior: smooth;
   text-decoration: none;
   border: none;
   outline: none;
   background: none;
   font-family:sans-serif ; 
}

:root {
   --bg-color:#fdfdfd;
   --text-color: #333;
   --main-color: #754ef9;
   --white-color: #fdfdfd;
   --shadow-color: rgba(0,0,0,.2);
   --H-W:768px;
   --H2-W2:560px;
}

.dark-mode {
   --bg-color:#0b061f;
   --text-color:#fdfdfd;
   --shadow-color:rgba(0,0,0,.7);
}

html {
   overflow-x: hidden;
   font-size: 62.5%; /* 10px */
}

body {
   background-color: var(--bg-color);
}

.icons {
   width: 20px;
}

/* FreamWork */
.center-this-element {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
/* general btn */
.btn {
   display: inline-block;
   padding: 1.2rem 2.8rem;
   background-color: var(--main-color);
   box-shadow: 0 .2rem .5rem var(--shadow-color);
   border: 0.2rem solid transparent;
   border-radius: .6rem;
   font-size: 1.6rem;
   font-weight: 600;
   color: var(--white-color);
   letter-spacing: .1rem;
   transition: 0.4s ease , border-color 0.4s ease 0.2s;
}
.btn:hover {
   background-color: transparent;
   color: var(--main-color);
   border-color: var(--main-color);
}

.heading {
   color: var(--text-color);
}

body::-webkit-scrollbar {
   display: none;
}
/* ======================================================= */

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 2rem 7%;
   background-color: transparent;

   display: flex;
   /* justify-content: space-between; */
   align-items: center;
   transition: all 0.5s ease-in;
   z-index: 9999;
}

.fixed-header {
   background-color: var(--bg-color);
   box-shadow: 0 0 0.3rem var(--shadow-color);
}

.logo {
   font-size: 2.5rem;
   font-weight: 600;
   color: var(--main-color);
   cursor: default;
   margin-right: auto;
   pointer-events: none;
}

.nav-bar a {
   position: relative;
   font-size: 1.7rem ;
   font-weight: 500;
   color: var(--white-color);
   margin-right: 3.5rem;
}

.fixed-header a:not(:first-child) {
   color: var(--text-color);
}

.nav-bar > a.active::after{
   content: '';
   position: absolute;
   width: 100%;
   height: .2rem;
   left: 0;
   bottom: -6px;
   background-color: var(--white-color);
   transition: 0.5s;
}

.fixed-header .nav-bar > a {
   color: var(--text-color);
}

.fixed-header .nav-bar > a.active {
   color: var(--main-color);
}

.fixed-header .nav-bar > a.active::after{
   content: '';
   position: absolute;
   width: 100%;
   height: .2rem;
   left: 0;
   bottom: -6px;
   background-color: var(--main-color);
   transition: 0.5s;
}

.header > .icons {
   fill: var(--white-color);
   width: 2.4rem;
   cursor: pointer;
}

.fixed-header > .icons {
   fill: var(--main-color);
}

.toggel {
   cursor: pointer;
   display: none;
}
.toggel > .icons {
   width: 3.6rem;
   fill: var(--text-color);
}

section {
   min-height: 100vh;
   padding: 10rem 7% 2rem;
}

.home {
   display: flex;
   align-items: center;
}

.home .home-content {
   max-width: 44rem;
}

.home .home-content h3 {
   /* font-size: 3.2rem; */
   font-size: 2.6rem;
   font-weight: 700;
   line-height: .3;
   color: var(--text-color);
}

.home .home-content h1 {
   /* font-size: 5.6rem; */
   font-size: 4.2rem;
   font-weight: 700;
   line-height: 1.8;
   margin-bottom: .3rem;
   color: var(--text-color);

}

.home .home-content p {
   font-size: 1.6rem;
   line-height: 1.4;
   color: var(--text-color);
}

.socail-media {
   display: flex;
   justify-content: start;
   align-items: center;
}

.home .home-content .socail-media a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
   background-color: transparent;
   border: 0.2rem solid var(--main-color);
   border-radius: 50%;
   box-shadow: 0 .2rem .5rem var(--shadow-color);
   margin: 2.5rem 1.5rem 3rem 0 ;
   transition: .4s ease;
}

.home .home-content .socail-media a .icons {
   width: 2rem;
   height: 2rem;
   fill: var(--main-color);
   transition: .4s ease;
}

.home .home-content .socail-media a:hover {
   background-color: var(--main-color);
}

.home .home-content .socail-media a:hover > .icons{
   fill: var(--white-color);
}

.btn {
   display: inline-block;
   padding: 1.2rem 2.8rem;
   background-color: var(--main-color);
   box-shadow: 0 .2rem .5rem var(--shadow-color);
   border: 0.2rem solid transparent;
   border-radius: .6rem;
   font-size: 1.6rem;
   font-weight: 600;
   color: var(--white-color);
   letter-spacing: .1rem;
   transition: 0.4s ease , border-color 0.4s ease 0.2s;
}

.btn:hover {
   background-color: transparent;
   color: var(--main-color);
   border-color: var(--main-color);
}

/* ====================== */
/*optemization*/
.home {
   overflow-y: hidden;
   position: relative;
}

.home .profession-container {
   background: transparent;
   width: var(--H-W);
   height:var(--H-W);
   position: absolute;
   top: 50%;
   right: 0;
   translate: 0 -50%;
   overflow-y: hidden;
   pointer-events: none;
}

.home .profession-container .professtion-box {
   position: absolute;
   top: 0;
   right: 0;
   width: var(--H-W);
   height: var(--H-W);
   background-color: transparent;
   border-radius: 50%;

   display: flex;
   align-items: center;
   justify-content: center;

   /* animation: name duration timing-function delay iteration-count direction fill-mode; */
   animation: progressRatation 13s ease-out infinite ;
}
@keyframes progressRatation {
   0%,20% {
      transform: rotate(0deg);
   }
   25%,45% {
      transform: rotate(-90deg);
   }
   50%,70% {
      transform: rotate(-180deg);
   }
   75%,95% {
      transform: rotate(-270deg);
   }
   100% {
      transform: rotate(-360deg);
   }
}

.home .profession-container .professtion-box .profession {
   position: absolute;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: var(--main-color);
   transform-origin: calc(var(--H-W)/2);
   rotate: calc(360deg / 4 * var(--i)) ;
   background-color: var(--bg-color);
   padding: 13px 0 ;
}

.home .profession-container .professtion-box .profession:nth-child(2),
.home .profession-container .professtion-box .profession:nth-child(2){
   padding-bottom: 20px;
}

.home .profession-container .professtion-box .profession .icons {
   fill: var(--main-color);
   width: 38px;
}

.home .profession-container .professtion-box .profession h3 {
   font-size: 3.2rem;
   font-weight: 600;
   line-height: 1;
}

.home .profession-container .professtion-box  .circle {
   width: var(--H2-W2);
   height: var(--H2-W2);
   border-radius: 50%;
   border: 3px solid var(--main-color);
}

.home .profession-container .overlay {
   position: absolute;
   top: 0;
   right: 0;
   width: 0;
   height: 0;
   border: 400px solid var(--main-color);
   border-left-color: transparent ;
}


/* About Secion Style */
span {
   color: var(--main-color);
}

.about {
   display: flex;
   align-items: center;
   gap: 5rem;
   color: var(--text-color);

}

.about .about-img {
   width: 34vw;
   height: 34vw;
   border: 4px solid var(--bg-color);
   outline: 4px solid var(--main-color);
   text-align: center;
   border-radius: 50% 10% 50% 10% ;
   border-radius:50%;
   overflow: hidden;
   flex-shrink: 0;
   background-color: var(--main-color);
   display: flex;
   justify-content: center;
   align-items: start;
}

.heading {
   font-size: 4.5rem;
   text-align: center;
}

.about .about-content h2{
   text-align: left;
   line-height: 1.2;
}

.about-content h3 {
   font-size: 2rem;
}

.about-content p {
   line-height: 1.3;
   font-size: 1.6rem;
   margin: 2rem 0 3rem ;
}


/* services */
.services {
   min-height: auto;
   padding-bottom:7rem ;
   color: var(--text-color);
}

.services h2 {
   margin-bottom: 5rem;
}

.services .services-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 4rem;
   /* height: 540px; */
}

.services .services-container .services-box {
   flex:  1 1 30rem ; 
   padding: 3rem 2rem 4rem  ;
   border-radius: 2rem;
   box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
   text-align: center;
   border-top: 0.5rem solid var(--main-color);
   border-bottom: 0.5rem solid var(--main-color);
   transition: 0.5s ease;
   height: 550px;
}

.services .services-container .services-box:hover{
   box-shadow: 0 .1rem 2rem var(--shadow-color);
   scale: 1.02;
}

.services .services-container .services-box .icons {
   width: 45px;
   height: 45px;
   fill: var(--main-color);
}

.services .services-container .services-box h3 {
   font-size: 2.6rem;
   line-height: 1.4;
   margin: 1rem 0 ;
   transition: 0.5s ease;
}

.services-box {
   position: relative;
   overflow: hidden;
}
.services-box > a.btn { 
   position: absolute;
   bottom: 0;
   left: 0;
   text-align: center;
   width: 100%;
   border-radius: 0;
   border: none;
}
.services-box.visible {
   opacity: 1;
   transform: translateX(0);
 }
.services-container a > h3 {
   color: var(--text-color); 
}

.services .services-container .services-box h3:hover{
   color: var(--main-color);
   cursor: default;
}

.services .services-container .services-box p {
   font-size: 1.6rem;
   margin-bottom: 1rem;
   line-height: 1.4;
}

/* ============================= */

/* portfolio */
.portfolio-box > img {
   width: 300px;
}
.portfolio {
   padding-bottom: 10rem;
} 

.portfolio>h2 {
   margin-bottom: 4rem;
}

.portfolio .portfolio-container {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

.portfolio .portfolio-container .portfolio-box {

   position: relative;
   display: flex;
   border-radius: 2rem;
   box-shadow: 0 0 1rem rgba(0,0,0,0.1);
   overflow: hidden;

}

.portfolio-box > img {
   width: 100%;
   transition: 0.5s  ease-out;
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(rgba(0,0,0,0.1) , var(--main-color));
   color: var(--white-color);
   
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 0 4rem;
   opacity: 0;
   transition: 0.5s ease-out;
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer:hover {
   opacity: 1;
}

.portfolio-box:hover > img {
   scale: 1.3;
   cursor: pointer;
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer h2 {
   font-size: 3rem;
   font-weight: bold;
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer p {
   font-size: 1.6rem;
   margin: 0.3rem 0 1rem   ;
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   margin: 1.5rem 0 .5rem;
   width: 5rem;
   height: 5rem;
   background-color: var(--bg-color);
   border-radius: 50%;
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer a .icons {
   opacity: 0.8;
   width:2rem;
   fill: var(--main-color);
}

.portfolio-box {
   position: relative;
   margin-bottom: 40px;
   opacity: 0;
   transform: translateX(-50px);
   transition: all 0.6s ease-in-out;
 }
.portfolio-box.visible {
   opacity: 1;
   transform: translateX(0);
 }

.services-box {
   position: relative;
   margin-bottom: 40px;
   opacity: 0;
   transform: translateX(-50px);
   transition: all 0.6s ease-in-out;
 }
.services-box.visible {
   opacity: 1;
   transform: translateX(0);
 }

/* =================================== */
/* testimonial */

.testimonail-container {
   margin-top: 2rem;
   display: flex;
   justify-content: center;
   padding: 0 7%;
}

.testimonail-container .cards {
   border: .9rem solid var(--main-color);
   border-color: var(--main-color) transparent;
   border-left: none;
   border-right: none;
   border-radius: 5rem;
   overflow-x: auto;
   display: flex;
   width: 60rem;
   padding: 3rem 1rem;
   box-shadow: 0 0 10px var(--shadow-color);
}

.testimonail-container .cards::-webkit-scrollbar {
   display: none;
}

.testinomail-card {
   flex-shrink: 0;
   width: 100%;
   display: flex;
   flex-direction:column;
}

.testinomail-img {
   border: 5px solid transparent;
   outline: 5px solid var(--main-color);
   width: 200px;
   height: 200px;
   border-radius: 50%;
   overflow: hidden;
   margin: auto;
   margin-bottom: 10px;
}

.testinomail-img img  {
   width: 100%;
}

.testinomail-card h2  {
   text-align: center;
   line-height: 1.4;
   font-size: 3rem;
   color: var(--text-color);
   color: var(--main-color);

}

.testinomail-card p {
   text-align: center;
   line-height: 1.4;
   font-size: 1.4rem;
   color: var(--text-color);
   min-height: 40px;
   padding: 0 3.6rem;
}
/* =========================================== */

/* Conatct */
.contact h2 {
   margin-bottom: 3rem ;
}

.contact form {
   max-width: 70rem;
   margin: 1rem auto;
   text-align: center;
   margin-bottom: 3rem;
}

.contact form .input-box {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.contact form .input-box input 
,.contact form textarea {
   border: none;
   width: 100%;
   padding: 1.5rem;
   font-size: 1.6rem;
   color: var(--text-color);
   background: var(--bg-color);
   border-radius: 0.8rem;
   margin: .7rem 0;
   box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
   caret-color: var(--main-color);
}

.contact form .input-box input  {
   width: 49%;
}

.contact form .btn {
   margin-top: 2rem;
}
/* End contact */




/* Footer Design */
footer {
   display: flex ;
   justify-content: space-between ;
   align-items: center;
   flex-wrap: wrap;
   padding: 2rem 7%;
   background: var(--main-color);
}

.footer-text p ,
.date-of-year {
   font-size: 1.6rem;
   color: var(--white-color);
}

.footer-icon-top a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: .8rem;
   background: var(--white-color);
   border-radius: 0.8rem;
   border: 0.2rem solid var(--main-color) ;
   outline: 0.2rem solid transparent ;
   transition: 0.5s ease;
}

.footer-icon-top a:hover {
   outline-color: var(--white-color) ;
}

.footer-icon-top a .icons {
   fill: var(--main-color);
}
/* End footer Design */

/* ========================= */
@media screen and (max-width: 1255px) {
   html {
      font-size: 55%;
   }

   .home {
      overflow: hidden;
   }
   
   .home .profession-container {
      right: -12rem;
      top: 46%;
   }

   .home .profession-container .professtion-box {
      right: -9rem;
   }
}

@media screen and (max-width: 1060px) {
   .header {
      padding: 2rem 3%;
   }

   section {
      padding: 10rem 3% 2rem;
   }

   .home .profession-container {
      right: -25rem;
      top: 46%;
   }

   .home .profession-container .professtion-box {
      right: -11rem;
   }
}

@media screen and (max-width: 991px) {
   .nav-bar a:nth-child(1),
   .nav-bar a:nth-child(2) {
      color: var(--main-color);
   }
   .nav-bar a.active::after {
      background-color: var(--main-color);
   }
   .fixed-header .nav-bar a{
      color: var(--text-color);
   }
   .home .home-content {
      max-width: 50rem;
   }
   .home .profession-container {
      right: -33rem;
      top: 46%;
   }
   .home .profession-container .professtion-box {
      right: -11rem;
   }
  .home .profession-container .overlay {
   right: -9rem;
   }

   .services , 
   .portfolio {
      padding: 7rem;
   }

   .contact {
      min-height: auto;
   }

   .footer {
      padding: 2rem 3%;
   }
} 

@media screen and (max-width: 850px) {
   .header {
      background-color: var(--bg-color);
   }
   .toggel {
      display: block;
      border: .1rem transparent solid;
      padding: 0.2rem;
      border-radius: 2px;
   }
   .selected-toggel {
      border-color: var(--main-color);
   }
   .toggel .icons {
      width: 2.6rem;
   }
   #dark-mode-icon {
      position: absolute;
      right: 7rem;
      width: 2.6rem;
      fill: var(--text-color);
      margin-bottom: .1rem;
   }
   .nav-bar {
      background-color: #764ef948;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background-color: var(--bg-color);
      border-top: .1rem solid rgba(0,0,0,.2);
      box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
      transition: 0.5s;
   }
   .nav-bar {
      translate: -100%;
   }
   .show-nav {
      translate: 0%;
   }
   .nav-bar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0 ;
      color: var(--text-color);
   }
   .nav-bar a:nth-child(1),
   .nav-bar a:nth-child(2) {
      color: var(--text-color);
   }

   .nav-bar a.active {
      color: var(--main-color);
   }

   .nav-bar a::after {
      display: none;
   }

   .home {
      padding:  0rem 5% 0 ;
      align-items: center;
      justify-content: center;
   }
   .home-content h3 {
      font-size: 2.6rem;
   }
   .home-content h1 {
      font-size: 5rem;
      line-height: 1.2;
   }
   .home-content .socail-media a {
      margin: 2.5rem .75rem 3rem;
   }

   .profession-container{
      display: none;
   }

   /* ============= */
   .about {
      padding-top: 0;
      flex-direction: column-reverse;
      text-align: center;
   }
   .about .about-content h2 {
      margin-bottom: 2rem;
      text-align: center;
   }
   .about .about-img {
      width: 50vh;
      height: 50vh;
   }
   .portfolio .portfolio-container {
      grid-template-columns: repeat(2,1fr);
   }
}

@media screen and (max-width: 768px) {
   .portfolio .portfolio-container {
      grid-template-columns: repeat(2,1fr);
   }
}
@media screen and (max-width:617px) {
   .portfolio .portfolio-container {
      grid-template-columns: repeat(1,1fr);
   }
   .services ,
   .portfolio {
      padding: 2rem;
   }
   .about .about-content h1 {
      font-size: 4rem;
   }
   .testimonail-heading {
      margin: 40px 0 15px;
   }
}

@media screen and (max-width:450px) {
   html {
      font-size: 50%;
   }
   .home .home-content h1 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 4rem;
      line-height: 1;
   }
   .about .about-img {
      width: 45vh;
      height: 45vh;
   }
   .contact form .input-box input {
      width: 100%;
   }
   footer {
      flex-direction: column-reverse;
      gap: 10px;
   }
}
